td span {
    cursor: move;
    background-image: url(../img/drag-background.png);
    background-repeat: repeat;
}

tr:nth-child(odd) td .strip {
    cursor: move;
    background-image: url(../img/drag-background-odd.png);
    background-repeat: repeat;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.td-dropdown {
    width:120px;
    vertical-align: top;
    text-align:right;
}

.mnu-command {
    text-align: left;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}


.inplace_field {
    width:95%;
    height:105px;
}
