<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	
	
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
	<link rel="stylesheet" href="css/prettify.css"/>
	<link rel="stylesheet" href="css/site.css"/>
	<link rel="stylesheet" href="css/smoothness/jquery-ui-1.8.17.custom.css" />

	<script type="text/javascript" src="js/json2.js"></script>
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
 	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="js/jquery.editinplace.js"></script>

	<script type="text/javascript" src="js/vms.js"></script>
	<script type="text/javascript" src="js/vms_commands.js"></script>

	<script type="text/javascript" src="js/site.js"></script>

</head>
<body>


<div class="row">
	<div class="span3 columns">

		<div style="height: 80px;">
			<img src="img/logo.png" border="0"/>
		</div>
		<hr/>

		<form id="form_input" name="form_input" class="form-actions">
			<fieldset>
				<legend>Change address:</legend>
				<div class="clearfix">
					<label for="vms_ip_addr">VMS IP Address:</label>
					<input type="text" id="vms_ip_addr" name="vms_ip_addr"/>
				</div>
				<div class="clearfix">
					<label for="vms_mac_addr">VMS MAC Address:</label>
					<input type="text" id="vms_mac_addr" name="vms_mac_addr"/>
				</div>
			</fieldset>
			<fieldset>
				<legend>Choose commands:</legend>
				<div class="clearfix">
					<label for="api_service_group">API Service Group:</label>
					<select id="api_service_group" name="api_service_group">
						<option value="">select group</option>
						<option value="TESTVZPAL">TESTVZPAL</option>
					</select>
					<input type="button" class="btn" id="add_api_service_group" value="Add"/>
				</div>
				<div class="clearfix">
					<label for="api_service_command">API Service Command:</label>
					<select id="api_service_command" name="api_service_command">
						<option value="">select command</option>
						<option value="VZPAL_GetGPSTime">VZPAL_GetGPSTime</option>
					</select>
					<input type="button" class="btn" id="add_api_service_command" value="Add"/>
				</div>
			</fieldset>
		</form>

	</div>

	<div class="span10 columns">
		<div style="height: 40px; padding-top: 40px;">
			<h1>VMS.API.Tester Console</h1>
		</div>
		<hr/>


		<div class="btn-toolbar" style="float: left; width: 200px; margin-right: 10px;">
			<div class="btn-group">
				<a id="btn-delall" class="btn" href="#" onclick="VMS.Console.Site.onDeleteAllClicked(this); return false;">Delete All</a>
				<a id="btn-runall" class="btn" href="#" onclick="VMS.Console.Site.onRunAllClicked(this); return false;">Run All</a>
			</div>
		</div>

		<div id="div-progressbar" class="btn-toolbar" style="float: right; width:600px; display:none;">
			<div id="progressbar"></div>
		</div>

		<div style="clear: both;"> </div>

		<ul id="sortable">
		</ul>

	</div>
</div>





<script type="text/html" id="template-command">

	<%
		var btn_style = 'success';

		if (responseStatus === "New") { btn_style = 'info'; }

		if (responseStatus === "Error") { btn_style = 'danger'; }

		var requestJSONText = JSON.stringify(requestJSON).replace(/,"/ig, ', "');
		var responseJSONText = JSON.stringify(responseJSON).replace(/,"/ig, ', "');

	%>

	<li class="ui-state-default sortable-item">
		<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
		<table width="100%">
			<tr>
				<td>
					<h4><%= groupName %>/<%= commandName %></h4>
					<h5 class="prettyprint">Request:</h5>
					<code class="request-json"><%= requestJSONText %></code>
					<h5 class="prettyprint">Response:</h5>
					<code class="response-json"><%= responseJSONText %></code>
				</td>
				<td class="td-dropdown">
					<div class="btn-group">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<input type="button" class="btn-<%= btn_style %>" value="<%= responseStatus %>"/>
						</a>
						<ul class="dropdown-menu" style="font-size: xx-small;">
							<li><a href="#" onclick="VMS.Console.Site.onDeleteOneClicked(this); return false;">Delete</a></li>
							<li><a href="#" onclick="VMS.Console.Site.onRunOneClicked(this); return false;">Run</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</li>

</script>





<script>


	$(function() { // BEGIN: on DOM ready

		// set up sortables
		//
		$( "#sortable" ).sortable({
			change: function(event, ui) {

				ui.item[0].mtime = new Date();
				// can "read" later with:
				//
				// _.each($("#sortable>li"), function(li) { console.log(li.mtime);});
				//
			},
			cancel: 'table'
		});
		$( "#sortable" ).disableSelection();
		$('.dropdown-toggle').dropdown();

		// set up progress bar
		//
		$( "#progressbar" ).progressbar({value: 0});


		$('#vms_ip_addr').val(VMS.IP_ADDR);
		$('#vms_mac_addr').val(VMS.MAC_ADDR);

		// refill with service group names
		//
		$('#api_service_group').empty();


		_.each(_.keys(VMS.Test.Commands), function(groupName) {
			if (groupName === 'MISC') { return; }
			$("#api_service_group").append('<option value="'+groupName+'">'+groupName+'</option>');
		});
		$("#api_service_group").append('<option value="MISC">MISC</option>');

		// when service group select option changed,
		// refill with the corresponding command names
		//
		$("#api_service_group").change(function(){
			VMS.Console.Site.setUpApiServiceCommandOptions();
		});
		VMS.Console.Site.setUpApiServiceCommandOptions();




		// arrange adding new command to the sortables whenever clicking on "Add" button.
		$('#add_api_service_command').click(function() {

			var groupName = $("#api_service_group").val();
			var commandName = $('#api_service_command').val();
			var command = VMS.Test.Commands[groupName][commandName];

			VMS.Console.Site.addSortable(groupName, commandName, command);
		});


		// arrange adding all the commands from a group to the sortables whenever clicked on "Add" button.
		$('#add_api_service_group').click(function() {

			var groupName = $("#api_service_group").val();
			var groupCommands = VMS.Test.ConsoleScripts[groupName];

			_.each(groupCommands, function(command) {
				VMS.Console.Site.addSortable(groupName, command.ServiceName, command);
			})
		});



		// VMS.Console.Site.formatJSON(VMS.Test.Commands.DVR.CreateSeriesWOptions);



	}); // END: on DOM ready





/*

## jQuery tips

- select: remove one element:
		$("#api_service_group option[value='option1']").remove();

- element: create element
		$.create("div");

*/


</script>

</body>
</html>